
.DS_Store
design/
static/.DS_Store
static/fonts/
static/icons/
static/images/
static/palette.scss
static/scss/base/
static/scss/components/_buttons.scss
static/scss/components/_cards.scss
static/scss/components/_case-studies.scss
static/scss/components/_footer.scss
static/scss/components/_services.scss
static/scss/pages/_about.scss
static/scss/pages/_work.scss
static/scss/utils/
static/styles.css
static/stylesheets/styles.css.map
tmp/
